<footer class="footer">
    <div class="footer__container container">
        <div class="footer__main">
            <div class="footer__logo">
                <img src="./img/logo.webp" alt="">
            </div>
            <div class="footer__columns">
                <div class="footer__column">
                    <h3 class="footer__column-title">Навигация</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#">О нас</a></li>
                        <li class="footer__list-item"><a href="#">Новости</a></li>
                        <li class="footer__list-item"><a href="#">Локации</a></li>
                        <li class="footer__list-item"><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h3 class="footer__column-title">Контакты</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a href="#">
                                <img src="./img/icons/telegram.webp" alt="">
                                Telegram
                            </a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#">
                                <img src="./img/icons/whatsapp.webp" alt="">
                                Whatsapp
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer__column">
                    <h3 class="footer__column-title">Аренда</h3>
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#">Аренда байков</a></li>
                        <li class="footer__list-item"><a href="#">Аренда автомобилей</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__license">
                © 2026 Все права защищены
            </p>
        </div>
    </div>
</footer>

<!-- @@include("_sprite.svg") -->
<script src="js/common.js?v=0"></script>
</body>

</html>