<div class="@@classCard card-item">
    <h3 class="card-item__title">Скутер</h3>
    <div class="card-item__image">
        <img src="./img/scooters/1.webp" alt="">
    </div>
    <ul class="card-item__about">
        <li class="card-item__about-item">Грузоподьемность <b>200кг</b></li>
        <li class="card-item__about-item">макс. скорость <b>70 км/ч</b></li>
        <li class="card-item__about-item">Комфортная скорость <b>200 км/ч</b></li>
        <li class="card-item__about-item">Комф. время поездки <b>70 час.</b></li>
    </ul>
    <ul class="card-item__calendar">
        <li class="card-item__calendar-item">30 дней <b>от 4000 ฿</b></li>
        <li class="card-item__calendar-item">17 дней <b>от 4000 ฿</b></li>
        <li class="card-item__calendar-item">11 дней <b>от 4000 ฿</b></li>
        <li class="card-item__calendar-item">3 дней <b>от 4000 ฿</b></li>
    </ul>
    <div class="card-item__buttons">
        <a href="№" class="card-item__button btn btn-border">Подробнее</a>
        <button type="button" class="card-item__button btn">
            Забронировать
        </button>
    </div>
</div>