<div class="card-review @@classCard">
    <div class="card-review__top">
        <img src="./img/author.webp" alt="" class="card-review__image">
        <div class="card-review__about">
            <h3 class="card-review__title">
                Азамат Айталиев
            </h3>
            <p class="card-review__date">
                09.05.1945
            </p>
        </div>
    </div>
    <div class="card-review__rate">
        <img src="./img/icons/star.svg" alt="">
        <img src="./img/icons/star.svg" alt="">
        <img src="./img/icons/star.svg" alt="">
        <img src="./img/icons/star.svg" alt="">
        <img src="./img/icons/star.svg" alt="">
    </div>
    <p class="card-review__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex commodi fugiat quasi at repudiandae repellat
        aut dolore, perspiciatis ipsam magnam expedita reprehenderit dignissimos numquam.
    </p>
    <a href="#" class="card-review__more">Читать далее</a>
</div>