<section class="faq @@if(this.class){@@class}">
    <div class="faq__container container">
        <h2 class="faq__title title">Вопросы и ответы</h2>
        <div class="faq__items">
            <div class="faq__item">
                <h3 class="faq__item-title">
                    <span>Можно ли иностранцу взять байк в аренду на Пхукете?</span>
                    <div class="faq__item-icon"></div>
                </h3>
                <div class="faq__item-content">
                    <p>
                        Мы предоставляем свои услуги всем желающим – жителям острова, Таиланда, приезжим из разных
                        стран. Для нашей организации не имеет значения, кто вы и откуда, поэтому обслуживание
                        доступно на русском, украинском, английском и тайском языках. Наши работники относятся с
                        уважением ко всем посетителям и предоставляют сервис на самом высоком уровне. С байками
                        Lucky Rent ваш отдых на Пхукете будет по-настоящему прекрасным.
                    </p>
                </div>
            </div>
            <div class="faq__item">
                <h3 class="faq__item-title">
                    <span>Что считается важным, когда берешь байк на прокат?</span>
                    <div class="faq__item-icon"></div>
                </h3>
                <div class="faq__item-content">
                    <p>
                        Ответственным и непростым решением считается выбор подходящей модели. От того насколько оно
                        было правильным зависит удобство и комфорт передвижения. Мы предлагаем модели от известных и
                        проверенных производителей Honda и Yamaha. Наши байки сдаются в аренду на срок от одного дня
                        до месяца. По желанию клиента взять напрокат байк можно на любой срок, который для удобства
                        делиться на недели (срок меньше месяца) или месяцы по 30 дней. Месячная плата самая
                        минимальная, суточная – самая высокая.
                    </p>
                </div>
            </div>
            <div class="faq__item">
                <h3 class="faq__item-title">
                    <span>Какие проблемы могут возникнуть при аренде байка в местных компаниях?</span>
                    <div class="faq__item-icon"></div>
                </h3>
                <div class="faq__item-content">
                    <p>
                        Основная проблема – это мошенничество. Недобросовестные компании могут выдать старый байк,
                        который будет постоянно ломаться, или не дадут ничего – то есть деньги просто пропадут. Если
                        вы не знаете компанию, с которой собираетесь работать, то не спешите. Лучше во всем
                        разобраться на месте, приехав на Пхукет. Мы не берем оплату наперед! Услуга оплачивается
                        только после того, как вы получите байк и оцените его хорошее состояние.
                    </p>
                </div>
            </div>
            <div class="faq__item">
                <h3 class="faq__item-title">
                    <span>Как воспользоваться услугой и арендовать байк иностранцу?</span>
                    <div class="faq__item-icon"></div>
                </h3>
                <div class="faq__item-content">
                    <p>
                        Мы работаем в Пхукете официально, поэтому имеем все необходимые документы для ведения
                        бизнеса. Каждый байк застрахован, на аренду оформляется договор. У вас на руках должен быть
                        паспорт, права на вождение категории А и деньги для внесения необходимой суммы. Желательно
                        чтобы в туристической страховке у вас была отметка «управление транспортным средством» или
                        «экстремальный отдых». Тогда при серьезном ДТП не будете лечиться за свой счет.
                    </p>
                </div>
            </div>
            <div class="faq__item">
                <h3 class="faq__item-title">
                    <span>Какие документы нужны для оформления аренды?</span>
                    <div class="faq__item-icon"></div>
                </h3>
                <div class="faq__item-content">
                    <p>
                        Паспорт и водительские права. Также необходима туристическая страховка, оформленная на весь
                        срок вашего пребывания в Таиланде.
                    </p>
                </div>
            </div>
            <div class="faq__item">
                <h3 class="faq__item-title">
                    <span>Попадаются ли мошенники при аренде байка?</span>
                    <div class="faq__item-icon"></div>
                </h3>
                <div class="faq__item-content">
                    <p>
                        К сожалению, да. То, что вас могут обмануть в интернете – это известный факт, но и на месте
                        могут быть неприятные сюрпризы. Есть темные личности, занимающиеся субарендой – берут у
                        местных прокатчиков байки за дешево, а вам сдают уже подороже. При этом с теми, у кого берут
                        технику, не до конца расплачиваются. А при разборе с полицией вы окажетесь крайним. Всегда
                        просите показать лицензию и адрес офиса. Если что-то не покажут или попытаются заговорить –
                        не берите там ничего.
                    </p>
                </div>
            </div>
            <div class="faq__item">
                <h3 class="faq__item-title">
                    <span>Какова стоимость аренды байка на Пхукете?</span>
                    <div class="faq__item-icon"></div>
                </h3>
                <div class="faq__item-content">
                    <p>
                        Цена на аренду формируется в зависимости от нескольких факторов – сезон, пробег, техническое
                        состояние, ценовая политика. В зависимости от количества приезжих формируется спрос, поэтому
                        в туристический пик будет дороже. Если у компании официально на сайте стоимость аренды не
                        указана – есть риск переплатить в несколько раз. Мы же цены на прокат байков и других
                        транспортных средств не скрываем – они указаны на сайте к каждой модели.
                    </p>
                </div>
            </div>
            <div class="faq__item">
                <h3 class="faq__item-title">
                    <span>Легально ли вы предоставляете услуги по аренде байков?</span>
                    <div class="faq__item-icon"></div>
                </h3>
                <div class="faq__item-content">
                    <p>
                        Да, наша компания зарегистрирована и внесена во все реестры, мы платим налоги. У нас есть
                        все документы, разрешающие ведение хозяйственной деятельности на территории Таиланда. Со
                        всеми своими клиентами мы заключаем договора аренды, оформленные в соответствии с
                        требованиями местного законодательства.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>