<header data-header-js class="header">
    <div class="header__container container">
        <a href="index.html" class="header__logo">
            <img loading="lazy" src="./img/logo.webp" alt="">
        </a>
        <div class="header__menu">
            <div class="header__menu-container container">
                <ul class="header__list">
                    <li class="header__item">
                        <a href="about.html" class="header__link">О нас</a>
                    </li>
                    <li class="header__item header__item_list">
                        <div class="header__link">Аренда</div>
                        <div class="header__item-content">
                            <ul class="header__item-list">
                                <li><a href="category-page.html" class="header__item-link">Аренда машины</a></li>
                                <li><a href="category-page.html" class="header__item-link">Аренда кабриолеты</a></li>
                                <li><a href="category-page.html" class="header__item-link">Аренда скутеры</a></li>
                                <li><a href="category-page.html" class="header__item-link">Аренда миди-скутеры</a></li>
                                <li><a href="category-page.html" class="header__item-link">Аренда макси-скутеры</a></li>
                                <li><a href="category-page.html" class="header__item-link">Аренда мопедов</a></li>
                                <li><a href="category-page-2.html" class="header__item-link">Аренда мотоциклов</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__item">
                        <a href="news.html" class="header__link">Новости</a>
                    </li>
                    <li class="header__item">
                        <a href="locations.html" class="header__link">Локации</a>
                    </li>
                    <li class="header__item">
                        <a href="contacts.html" class="header__link">Контакты</a>
                    </li>
                    <li class="header__item header__item_list">
                        <div class="header__link">Русский <img src="./img/icons/russia.webp" alt=""></div>
                        <div class="header__item-content">
                            <ul class="header__item-list">
                                <li><a href="#" class="header__item-link">English <img src="./img/icons/uk.webp"
                                            alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="header__socials">
                    <a href="#" class="header__socials-item">
                        <img src="./img/icons/telegram.webp" alt="">
                        <span>Telegram</span>
                    </a>
                    <a href="#" class="header__socials-item">
                        <img src="./img/icons/Whatsapp.webp" alt="">
                        <span>Whatsapp</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header__side">
            <div class="header__socials header__socials_mobile">
                <a href="#" class="header__socials-item">
                    <img src="./img/icons/telegram.webp" alt="">
                    <span>Telegram</span>
                </a>
                <a href="#" class="header__socials-item">
                    <img src="./img/icons/Whatsapp.webp" alt="">
                    <span>Whatsapp</span>
                </a>
            </div>
            <button class="header__burger">
                <span></span>
            </button>
        </div>
    </div>
</header>