<header data-header-js class="header">
    <div class="header__container container">
        <a href="#" class="header__logo">
            <img loading="lazy" src="./img/logo.webp" alt="">
        </a>
        <div class="header__menu">
            <div class="header__menu-container container">
                <ul class="header__list">
                    <li class="header__item">
                        <a href="#" class="header__link">О нас</a>
                    </li>
                    <li class="header__item header__item_list">
                        <div class="header__link">Аренда</div>
                        <div class="header__item-content">
                            <ul class="header__item-list">
                                <li><a href="#" class="header__item-link">Аренда байков</a></li>
                                <li><a href="#" class="header__item-link">Аренда автомобилей</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">Новости</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">Локации</a>
                    </li>
                    <li class="header__item">
                        <a href="#" class="header__link">Контакты</a>
                    </li>
                    <li class="header__item header__item_list">
                        <div class="header__link">Русский <img src="./img/icons/russia.webp" alt=""></div>
                        <div class="header__item-content">
                            <ul class="header__item-list">
                                <li><a href="#" class="header__item-link">English <img src="./img/icons/uk.webp"
                                            alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="header__socials">
                    <a href="#" class="header__socials-item">
                        <img src="./img/icons/telegram.webp" alt="">
                        <span>Telegram</span>
                    </a>
                    <a href="#" class="header__socials-item">
                        <img src="./img/icons/Whatsapp.webp" alt="">
                        <span>Whatsapp</span>
                    </a>
                </div>
            </div>
        </div>
        <button class="header__burger">
            <span></span>
        </button>
    </div>
</header>