<section class="how @@if(this.class){@@class}">
    <div class="how__container container">
        <h2 class="how__title title">Как это работает?</h2>
        <div class="how__cards">
            <div class="how__card">
                <div class="how__card-top">
                    <img src="./img/icons/phone-dark.svg" alt="" class="how__card-icon">
                    <h4 class="how__card-title">
                        Забронируйте в мессенджере
                    </h4>
                </div>
                <p class="how__card-text">
                    Оплата после получения мотоцикла. Мы принимаем все способы оплаты
                </p>
            </div>
            <div class="how__card">
                <div class="how__card-top">
                    <img src="./img/icons/delivery-dark.svg" alt="" class="how__card-icon">
                    <h4 class="how__card-title">
                        Служба доставки
                    </h4>
                </div>
                <p class="how__card-text">
                    Осуществляем доставку по всему Пхукету
                </p>
            </div>
            <div class="how__card">
                <div class="how__card-top">
                    <img src="./img/icons/map.svg" alt="" class="how__card-icon">
                    <h4 class="how__card-title">
                        Наслаждайтесь своим приключением
                    </h4>
                </div>
                <p class="how__card-text">
                    Исследуйте удивительный Пхукет
                </p>
            </div>
        </div>
    </div>
</section>