@use 'lib' as *;

.card-review {
	$self: &;

	display: flex;
	flex-direction: column;
	background: $card;
	border-radius: 8px;
	padding: 16px;
	gap: 16px;

	&__top {
		display: grid;
		grid-template-columns: 64px 1fr;
		align-items: center;
		gap: 16px;
	}

	&__image {
		overflow: hidden;
		border-radius: 50%;
		object-fit: cover;
		aspect-ratio: 1 / 1;
	}

	&__about {}

	&__title {
		font-weight: 700;
		font-size: fluid(18px, 16px);
		margin-bottom: 8px;
	}

	&__date {}

	&__rate {
		display: flex;
		flex-direction: row;
		gap: 8px;

		img {
			width: 24px;
			height: 24px;
		}
	}

	&__text {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
		line-height: 150%;
	}

	&__more {
		color: $orange;
		margin-top: auto;
		text-decoration: underline;
	}

}