@use 'lib' as *;

.footer {
	$self: &;

	background: $backgroundSecond;
	padding: 32px 0;
	color: $lightText;

	margin-top: fluid(96px, 48px);

	&__container {}

	&__main {
		display: flex;
		flex-direction: row;
		align-items: start;
		justify-content: space-between;
		margin-bottom: 48px;
		gap: 32px;

		@include media("<=md") {
			flex-direction: column;
		}
	}

	&__logo {
		height: fluid(128px, 64px);

		img {
			height: 100%;
			object-fit: contain;
		}
	}

	&__columns {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 32px fluid(48px, 24px);

		@include media("<=xs") {
			grid-template-columns: repeat(2, 1fr);
			width: 100%;
		}
	}

	&__column {
		@include media("<=xs") {
			&:last-child {
				grid-column: span 2;
			}
		}
	}

	&__column-title {
		font-weight: 700;
		font-size: fluid(20px, 16px);
		margin-bottom: 24px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: fluid(16px, 12px);
	}

	&__list-item {
		font-weight: 500;
		transition: all $transition;

		&:hover {
			color: $hoverOrange;
		}

		a {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;

			img {
				width: 24px;
				height: 24px;
				object-fit: contain;
				border-radius: 50%;
			}
		}
	}

	&__bottom {}

	&__license {
		font-weight: 700;
		font-size: 14px;
	}

}